<p>
    <h1><a href="{% url 'demeter_app:index' %}">Demeter</a></h1>
    {% if user.is_authenticated %}
        <p>Got any new meals to add, {{ user.username }}?
            <a href="{% url 'demeter_app:your_meals' %}">Your Meals!</a>
            <a href="{% url 'users:password_change' %}">Change password?</a>
            <a href="{% url 'users:logout' %}">Log out!</a>
        </p>
    {% else %}
        <a href="{% url 'users:login' %}">Log in!</a>
        <a href="{% url 'users:register' %}">Register!</a>
    {% endif %}
</p>

{% block content %}{% endblock content %}