{% extends 'demeter_app/base.html' %}

{% block page_header %}
<h1 class="title">Up for the Demeter challenge?</h1>
{% endblock page_header %}

{% block content %}

<p>Keep track of your journey to cook a meal from every country in the world!</br>
There are {{ total_countries }} countries (albeit debateable)! Breakdown as follows:</br>
</p>

<ul>
    {% for k, v in countries_per.items %}
        <li>{{ k }} has {{ v }} countries!</li>
    {% endfor %}
</ul>

<p>Can you cook a meal for each country?</p>

{% endblock content %}