{% extends 'demeter_app/base.html' %}

{% block page_header %}
<h1>Your Statistics</h1>
{% endblock page_header %}

{% block content %}

<p>Countries completed by continent:</p>

{% regroup countries|dictsort:"continent" by continent as continent_list %}

<ul>
    {% for continent in continent_list %}
        <li>{{ continent.grouper }} - {{ percentages|get_item:continent.grouper }} completed!</li>
            <ul>
            {% for country in continent.list %}
                <li>{{ country.country }}</li>
            {% endfor %}
            </ul>
        </li>
    {% endfor %}
</ul>

{% if overall_percent == "100.0%" %}
    <p>You have made a meal from every country and completed the challenge! Congrats!</p>
{% else %}
    <p>You have completed {{ overall_percent }} of the total countries in the world!</p>

    <p>Why don't you try <b>{{ next }}</b> next? Try it now. Now.</p>
{% endif %}

{% endblock content %}