{% extends 'demeter_app/base.html' %}
{% load bootstrap4 %}

{% block page_header %}
<h1>Your Meals</h1>
{% endblock page_header %}

{% block content %}

{% if meals == False %}
    <p>Awww, you haven't made any meals...</p>
    <a href="{% url 'demeter_app:add_meal' %}">Add a Meal!</a>
{% else %}
    <p>Here is your current list of your meals!</p>

    <ul>
        {% for meal in meals %}
            <li>
                <a href="{% url 'demeter_app:view_meal' meal.id %}">{{ meal.meal }}</a>
                from {{ meal.country }}, {{ meal.country.continent }}
            </li>  
        {% endfor %}
    </ul>
    {% buttons %}
    <button class="btn btn-secondary" onclick="location.href={% url 'demeter_app:add_meal' %}">Add a Meal!</button>
    <button class="btn btn-secondary" onclick="location.href={% url 'demeter_app:stats' %}">Meal Statistics!</button>
    {% endbuttons %}
{% endif %}

{% endblock content %}