{% extends "demeter_app/base.html" %}

{% block content %}

    {% if user.is_authenticated %}
        <p>You are already logged in!</p>
    {% else %}

        {% if form.errors %}
            <p>Wrong username and/or password!</p>
        {% endif %}

        <form method="post" action="{% url 'users:login' %}">
            {% csrf_token %}
            {{ form.as_p }}

            <button name="submit">Log in!</button>
            <input type="hidden" name="next"
                value="{% url 'demeter_app:index' %}" />
        </form>

        <p><a href="{% url 'users:password_reset' %}">Forgot your password?</a></p>
    
    {% endif %}


{% endblock content %}